<div class="flex flex-col items-center justify-center mx-auto py-0">
  <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
        Add your product
      </h1>
      <form [formGroup]="formProduct" class="space-y-4 md:space-y-6" action="#">
        <div>
          <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
          <input type="title" name="title" id="title" formControlName="title"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            required="">
          <span class="text-red-600"
            *ngIf="this.formProduct.get('title')?.errors?.['required'] && this.formProduct.get('title')?.touched">
            The title can not be empty.
          </span>
          <span class="text-red-600"
            *ngIf="this.formProduct.get('title')?.errors?.['maxlength'] && this.formProduct.get('title')?.touched">
            50 caracters limit exceeded.
          </span>
        </div>
        <div>
          <label for="img" class="block mb-2 text-sm font-medium text-gray-900">Product image:</label>
          <input type="file" name="img" id="img" formControlName="img" (change)="onFileSelected($event)">
          <span class="text-red-600"
            *ngIf="this.formProduct.get('img')?.errors?.['required'] && this.formProduct.get('img')?.touched">
            Image is required for the product.
          </span>
          <span class="text-red-600" *ngIf="this.validateImgSize">
            The image size can not be more than 10Mb.
          </span>
          <span class="text-red-600" *ngIf="this.validateImgExt">
            The image only supports 'jpeg', 'jpg' and 'png'.
          </span>
        </div>
        <div>
          <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Price</label>
          <input type="text" formControlName="price"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          <span class="text-red-600"
            *ngIf="this.formProduct.get('price')?.errors?.['required'] && this.formProduct.get('price')?.touched">
            The price can not be empty.
          </span>
          <span class="text-red-600"
            *ngIf="this.formProduct.get('price')?.errors?.['pattern'] && this.formProduct.get('price')?.touched">
            The price can not contain letters.
          </span>
        </div>
        <div>
          <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
          <input type="text" formControlName="description"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
          <span class="text-red-600"
            *ngIf="this.formProduct.get('description')?.errors?.['required'] && this.formProduct.get('description')?.touched">
            The description can not be empty.
          </span>
          <span class="text-red-600"
            *ngIf="this.formProduct.get('description')?.errors?.['minlength'] && this.formProduct.get('description')?.touched">
            Minimum 10 caracters.
          </span>
        </div>
        <div>
          <p>Category:</p>
          <select name="category" formControlName="category"
            class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
            <option [value]="category.name" *ngFor="let category of allCategories">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div>
          <label for="map" class="block mb-2 text-sm font-medium text-gray-900">Select the location where you want to
            sell the product</label>
          <label for="map2" class="block mb-2 text-sm font-medium text-gray-500">(move the blue marker) </label>
          <div id="map" style="height: 400px;" class="z-30"></div>
        </div>
        <div *ngIf="this.formProduct.invalid">
          <span class="text-red-400">Fill all the fields of the form correctly to add product.</span>
        </div>
        <button (click)="addProduct()" [disabled]="this.formProduct.invalid"
          class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add
          product</button>
      </form>
    </div>
  </div>
</div>